.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  margin-right: 10px;
  line-height: 1.2;
}

.red {
  color: red;
}

.play-icon img {
  width: 15px;
  margin-right: 5px;
}

.news-icon, .tv-time {
  margin-right: 5px;
}

.list-group-item {
  border: none;
  padding: 0;
}

.news {
  margin-bottom: 2rem;
}

.item-channel {
  color: #aaa;
  margin-left: 1em;
  font-size: 80%;
}

.card {
  font-size: 90%
}

.bold {
  font-weight: 700;
}